.sidebar
  .header
    %p.header__username
      = current_user.name
    = link_to edit_user_registration_path do
      %i.header__btn-right.fa.fa-cog
    = link_to new_group_path do
      %i.header__btn-left.fa.fa-pencil-square-o
  .sidebar__groups
    .sidebar__groups__group
      = render partial: "sidebar__groups", collection: @groups, as: "group"
.contents
  .contents__header
    .name
      %p.groupname
        = @group.name
      %p.membername
        - @group.users.each do |member|
          = member.name
    = link_to edit_group_path(@group) do
      .box Edit
  .contents__messages
    = render partial: "contents__messages"
  .contents__form
    = form_for [@group, @message] do |f|
      .contents__form__input
        = f.text_field :text, class: "contents__form-field", placeholder: "type a message"
        %label.contents__form__input__btn
          .fa.fa-picture-o
          = f.file_field :image
        = f.submit "send", class: "button"
