.sidebar__groups__group
  - @groups.each do |group|
    = link_to group_messages_path(group) do
      %p.group-name
        = group.name
      %p.group-message
      - if group.messages.last.text.present?
        = group.messages.last.text
      - elsif
        - group.messages.image.present?
        = "画像が投稿されています。"
      - else
        = "メッセージはありません。"
