.sidebar__groups__group
  - @groups.each do |group|
    = link_to group_messages_path(group) do
      %p.group-name
        = group.name
      %p.group-message
        - if group.messages.present?
          -if group.messages.last.text.present?
            = group.messages.last.text
          -else
            = "画像が投稿されています。"
        - else
          = "メッセージはありません。"
